	<div class="padding2">
		<br/>   
		<label>First name: </label><input type="text" ng-model="firstName" placeholder="Enter first name here"/>
	    <label>Last name: </label><input type="text" ng-model="lastName" placeholder="Enter last name here"/> 
	    <hr/>
	    <h2>Hello, {{firstName}} {{lastName}}!</h2>  <br/>

	    Name with uppercase filter: {{firstName | uppercase}}<br/>

	    Reverse Text Custom Filter: {{firstName | reversetext}}

	    <br/><br/>
	    <label>Check me to check both: <input type="checkbox" ng-model="master"></label><br/>
		<input id="checkSlave" type="checkbox" ng-checked="master" aria-label="Slave input">
	</div>